body{
    margin: auto;
}
h1{
    text-align: center;
}
table {
    margin: auto;
    background-color: #ddd;
    table-layout:fixed;
    min-width: 480px;
    min-height: 480px;
}
td{
    display:table-cell;
    width:100px;
    min-width:100px;
    /*border: 2px dashed #40f;*/
}
tr{
    display:table-row;
    width:100px;
    min-width:100px;
    /*border: 2px dashed #40f;*/
}
.tiles{
    width: 460px;
    height: 460px;
    background-color: #ddd;
    margin: auto;
}
.tile{
    /*float:left;*/
    margin:5px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transform-style: preserve-3d;
    transition: all 0.3s linear;
}
.tile:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.tile.flip {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
}